<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vídeos</title>
</head>
<body>
    <% if(playlist && !video){ %>
        <h2>Você está na playlist de <%= playlist %>.</h2>
    <% } if(playlist && video){ %>
        <h2>Você está na playlist de <%= playlist %></h2><br> Reproduzindo o vídeo <%= video %>...
    <% } else{ %>
        <h1>Bem-Vindo a Página de Vídeos!</h1><hr>
    <% } %>
</body>
</html>