<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>
    <h1>Bem-vindo aos vídeos</h1>
    <hr>
    <p>Aqui estão os vídeos do site :O</p>   
</body>
</html>
<%- include ('partials/footer.ejs') %>